@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  width: 80vw;
  margin-left: 10vw;
  margin-top: 10px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}